<!DOCTYPE html>
html(lang="en")
  head
    title d3 playground
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=9")
    link(rel="stylesheet", href="index.css")

  body

    script(src="../../d3.v2.min.js")
    script(src="index.js") 
